{{> head}}

{{> navar}}
<div class="row">
    <div class="col-8">
        <h2>yeison bedoya rodriguez</h2>
    </div>
    <div class="col-4">
<img src="assets/img/kisspng.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer}}